[Unit]
Description=Codeberg Pages Server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/codeberg-pages-server

Restart=on-failure

#User=pages
#Group=pages

WorkingDirectory=/var/pages/

Environment=PAGES_DOMAIN={{ pages_domain | default("codeberg.page") }}
Environment=RAW_DOMAIN=raw.{{ pages_domain | default("codeberg.page") }}
Environment=GITEA_ROOT=https://{{ main_domain | default("codeberg.org") }}
Environment=GITEA_API_TOKEN={{ gitea_api_key }}

Environment=ENABLE_HTTP_SERVER=true

Environment=ACME_ACCEPT_TERMS=true
Environment=DNS_PROVIDER=gandiv5
Environment=ACME_EMAIL={{ acme_email }}
Environment=GANDIV5_API_KEY={{ gandi_api_key }}

[Install]
WantedBy=multi-user.target
